<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
  <link rel="icon" type="image" href="/icon.jpg">
  <link rel="stylesheet" href="/home-page.css">
  <link rel="stylesheet" href="/slide.css">
  <script src="/scripts/script.js"></script>
  <!-- <script>
        function openModal() {
    document.getElementById("myModal").style.display = "block";
  }
  
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
  
  var slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
    </script> -->
</head>

<body>
  <div class="main-container">
    <%-include('partials /header'); %>

      <img src="/montbay.jpg" alt="" id="hero-img">

      <div class="sub-container">
        <div class="sub-content">
          <div class="content">
            <div class="row">
              <div class="column">
                <img src="/gallery1.jpg" style="width:100%; border-radius: 15px; border: 2px solid #000;"
                  onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
              </div>
              <div class="column">
                <img src="/gallery2.jpg"
                  style="width:100%; height: 18.5vh; border-radius: 15px; border: 2px solid #000;"
                  onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
              </div>
              <div class="column">
                <img src="/gallery3.webp"
                  style="width:100%; height: 18.5vh; border-radius: 15px; border: 2px solid #000;"
                  onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
              </div>
              <div class="column">
                <img src="/gallery4.jpg"
                  style="width:100%; height: 18.5vh; border-radius: 15px; border: 2px solid #000;"
                  onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
              </div>
            </div>

            <div id="myModal" class="modal">
              <span class="close cursor" onclick="closeModal()">&times;</span>
              <div class="modal-content">

                <div class="mySlides">
                  <div class="numbertext">1 / 4</div>
                  <img src="/gallery1.jpg" style="width:100vh; height: 60vh;">
                </div>

                <div class="mySlides">
                  <div class="numbertext">2 / 4</div>
                  <img src="/gallery2.jpg" style="width:100%; height: 60vh;">
                </div>

                <div class="mySlides">
                  <div class="numbertext">3 / 4</div>
                  <img src="/gallery3.webp" style="width:100%; height: 60vh;">
                </div>

                <div class="mySlides">
                  <div class="numbertext">4 / 4</div>
                  <img src="/gallery4.jpg" style="width:100%; height: 60vh;">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="caption-container">
                  <p id="caption"></p>
                </div>

                <div class="column">
                  <img class="demo cursor" src="/gallery1.jpg" style="width:100%" onclick="currentSlide(1)"
                    alt="Experience and Happiness">
                </div>
                <div class="column">
                  <img class="demo cursor" src="/gallery2.jpg" style="width:100%; height: 22.4vh;"
                    onclick="currentSlide(2)" alt="Bar and View">
                </div>
                <div class="column">
                  <img class="demo cursor" src="/gallery3.webp" style="width:100%; height: 22.4vh;"
                    onclick="currentSlide(3)" alt="Love for Dolphins">
                </div>
                <div class="column">
                  <img class="demo cursor" src="/gallery4.jpg" style="width:100%; height: 22.4vh;"
                    onclick="currentSlide(4)" alt="Dolphin Tricks">
                </div>
              </div>
            </div>

          </div>
          <div class="content1">
            <h4 style="text-align: center;">Make Your Reservation</h4>
            <div class="input-content">
              <form action="" method="post">

                <div class="ip"><label for="">Choose The Activity</label>
                  <input type="text" id="inpt1">
                </div>
                <label for="">Date</label>
                <input type="text" id="inpt2">
                <div class="ipp"><label for="">Shedule</label>
                  <input type="text" id="inpt3">
                </div>
                <div class="ip"><label for="">Participants</label>
                  <input type="text" id="inpt4">
                </div>
                <input type="submit" value="Book Now" id="btn">
              </form>
            </div>
          </div>
          <div class="content2">
            <h2 style="font-weight: bold;">Dolphin Cove Montego Bay</h2> <br>
            <p>Montego Bay is a piece of haven located on the North Coast of Jamaica, portraying lush natural scenes
              where the most coveted pristine and sandy white powdered beaches bathe the coastline. <br><br>

              Get ready to enjoy an epic adventure during your vacation in Montego Bay with booming water, eco-friendly
              activities, and trendy cultural spots to visit anytime. Take your family, friends, or significant other to
              explore the jaw-dropping beach area or enjoy a fun-filled getaway to Dolphin Cove Montego Bay! <br><br>

              At Dolphin Cove Montego Bay, thrilling moments are waiting with the most friendly marine mammal species in
              Jamaica. Discover what it feels like to hug and swim with a dolphin and fulfill your dream of swimming
              with dolphins in their natural habitat in Jamaica!</p>
            <br>
            <h2 style="font-weight: bold;">With your interactive program paid admission at Dolphin Cove Ocho Ríos, you
              get:</h2>
            <br>
            <div class="b0xx">
              <img src="/icon-check.svg" alt="" id="check">
              <li>Feeding the ostriches activity</li>
            </div>
            <div class="b0xx">
              <img src="/icon-check.svg" alt="" id="check">
              <li>Buffet lunch</li>
            </div>
            <div class="b0xx">
              <img src="/icon-check.svg" alt="" id="check">
              <li>Dolphin Watching at Play</li>
            </div>
            <div class="b0xx">
              <img src="/icon-check.svg" alt="" id="check">
              <li>Activities with dolphins in their natural environment</li>
            </div>
            <div class="b0xx">
              <img src="/icon-check.svg" alt="" id="check">
              <li>Lifejackets</li>
            </div>
            <div class="b0xx">
              <img src="/icon-check.svg" alt="" id="check">
              <li>Use of facilities and showers</li>
            </div>
            <br>
            <p>Start planning your vacation in Montego Bay and
              find the incredible plethora of engaging activities that Jamaica has for you, including a fun visit to
              Dolphin Cove Montego Bay!</p>
            <br>
            <h2 style="font-weight: bold;">Buy Now Your Interactive Experience at Dolphin Cove Montego Bay!</h2> <br>
            <div class="b0xx">
              <img src="/icon-check.svg" alt="" id="check">
              <li>Meet & Greet</li>
            </div>
            <div class="b0xx">
              <img src="/icon-check.svg" alt="" id="check">
              <li>Dolphin Encounter</li>
            </div>
            <div class="b0xx">
              <img src="/icon-check.svg" alt="" id="check">
              <li>Dolphin Swim Adventure</li>
            </div>
            <div class="b0xx">
              <img src="/icon-check.svg" alt="" id="check">
              <li>Dolphin Royal Swim</li>
            </div>
          </div>
          <div class="content3">
            <img src="/american-xpress.svg" alt="">
            <img src="/visa.svg" alt="">
            <img src="/mastercard.svg" alt="">
            <img src="/paypal.svg" alt="">
          </div>
        </div>
        <h3 style="font-weight: bold; margin-top: 5vh;">Select your experience</h3> <br>

        <div class="content4">
          <div class="minbox">
            <img src="/dolph1.jpg" alt="" class="top">
            <div class="bottom">
              <h5>Dolphin Royal Swim</h5>
              <div class="btm-bx">
                <span style="text-decoration: line-through; font-size: small;">$189 USD</span> <br>
                <span style="font-size: small;">$141.75 USD</span>
              </div>
            </div>
          </div>
          <div class="minbox">
            <img src="/dolph2.jpg" alt="" class="top">
            <div class="bottom">
              <h5>Dolphin Swim Adventure</h5>
              <div class="btm-bx">
                <span style="text-decoration: line-through; font-size: small;">$149 USD</span> <br>
                <span style="font-size: small;">$111.75 USD</span>
              </div>
            </div>
          </div>
          <div class="minbox">
            <img src="/dolph3.jpg" alt="" class="top">
            <div class="bottom">
              <h5>Encounter</h5>
              <div class="btm-bx">
                <span style="text-decoration: line-through; font-size: small;">$119 USD</span> <br>
                <span style="font-size: small;">$89.25 USD</span>
              </div>
            </div>
          </div>
          <div class="minbox">
            <img src="/dolph4.jpg" alt="" class="top">
            <div class="bottom">
              <h5>A Day At Dolphin Cove</h5>
              <div class="btm-bx">
                <span style="text-decoration: line-through; font-size: small;">$39 USD</span> <br>
                <span style="font-size: small;">$35.1 USD</span>
              </div>
            </div>
          </div>
        </div>

        <div class="content5">
          <div>
            <h2>How to Get to Dolphin Cove Montego Bay?</h2> <br>
            <p>
              <span style="font-weight: bold;">Dolphin Cove Montego Ba</span>y is privileged located on the A1 Highway
              in the <br> northwest area,
              in a very secluded zone, where relaxation and memorable <br> fun moments will be part of your travel
              itinerary! <br><br>

              To get here, just take a taxi from your resort, or get on board a "route taxi", <br>
              the local transportation, from Montego Bay to other attractive towns in <br> Jamaica.
            </p>
          </div>
          <a href="#"><img src="/map.jpg" alt="" style="float: right; border-radius: 10px; box-shadow: 0px 4px 8px 0px;"
              width="450px"></a>
        </div>
        <br>
        <br>
        <hr>
        <div class="content6">
          <h3>Follow us:</h3>
          <img src="/flink.svg" alt="" id="follow-links">
          <img src="/ilink.svg" alt="" id="follow-links">
          <img src="/twlink.svg" alt="" id="follow-links">
          <img src="/tilink.svg" alt="" id="follow-links">
          <img src="/blink.svg" alt="" id="follow-links">
        </div>

        <div class="content7">
          <div class="sub-content2">
            <div class="min-cont">
              <h3>Dolphin Cove</h3><br>
              <a href="#">
                <li>Experiences</li>
              </a>
              <a href="#">
                <li>Deals</li>
              </a>
              <a href="#">
                <li>Investor Relations</li>
              </a>
            </div>
            <div class="min-cont">
              <h3>Trust Us</h3><br>
              <a href="#">
                <li>Contact Us</li>
              </a>
              <a href="#">
                <li>Privacy Policy</li>
              </a>
              <a href="#">
                <li>Social Media Policy</li>
              </a>
              <a href="#">
                <li>Site policies</li>
              </a>
              <a href="#">
                <li>Faq's</li>
              </a>
              <a href="#">
                <li>Blog</li>
              </a>
            </div>
            <div class="min-cont">
              <h3>Information Cove</h3><br>
              <a href="#">
                <li>News</li>
              </a>
              <a href="#">
                <li>About Us</li>
              </a>
            </div>
            <div class="min-cont">
              <h3>Sister Brands</h3><br>
              <a href="#">
                <li>Dolphin Discovery</li>
              </a>
              <a href="#">
                <li>Yaaman</li>
              </a>
              <a href="#">
                <li>Garrafon</li>
              </a>
              <a href="#">
                <li>Aquaventuras</li>
              </a>
              <a href="#">
                <li>Ocean Adventures</li>
              </a>
            </div>
          </div>
          <hr>
          <br>
          <div class="sub-content3">
            <h4>Proudly Part of</h4><br>
            <div id="tdc">
              <img src="/TDC_logo.svg" alt="" width="80px">
            </div>
          </div>
        </div>
      </div>
      <!-- <%-include('partials/footer'); %> -->

  </div>
</body>

</html>